<div
    class="header">
    <!-- <mat-tab-group >
            <mat-tab label="Account"></mat-tab>
            <mat-tab label="Startseite"></mat-tab>
            <mat-tab label="Unsere Projekte"></mat-tab>
            <mat-tab label="Vorschläge und Ideen"></mat-tab>
            <mat-tab label="Impressum"></mat-tab>
        </mat-tab-group> -->
    <mat-button-toggle-group>
        <mat-button-toggle routerLink="/U">
            Account
        </mat-button-toggle>
        <mat-button-toggle routerLink="/">
            Homepage
        </mat-button-toggle>
        <mat-button-toggle routerLink="/">
            Projekte
        </mat-button-toggle>
        <mat-button-toggle routerLink="/Kontakt">
            Wie kann ich Beitreten ? 
        </mat-button-toggle>
        <mat-button-toggle routerLink="/Impressum">
            Impressum
        </mat-button-toggle>
    </mat-button-toggle-group>
   
</div>
