<div class="joining-form">
  <h2>
    Wenn du in der 8 Klasse oder aufwärts bist , Kannst du Gerne den Computerclub beitreten <br>
    du kannst mich auf folgende Wege Kontaktieren ;)
</h2>
<mat-tab-group class="tab-group" fitInkBarToContent>
<mat-tab label="Iserv">
Meine Schul-Email lautet:<br>
<strong>semino.koinzer&#64;bismarckschule.org</strong><br>
oder <strong>semino.koinzer</strong> wenn die Email Iserv Intern ist
</mat-tab>
<mat-tab label="face to face">
Du kannst mich während der Schulzeit im Klassenraum 5001 in den Pausen antreffen 
</mat-tab>
<mat-tab label="Private Email">
Alternativ kannst du Mich unter der Email:<br>
<strong>semino.koinzer406&#64;gmail.com</strong>
anschreiben
</mat-tab>
</mat-tab-group>





    <!-- <h3>
    Wenn du in der 8 Klasse oder aufwärts bist , Kannst du Gerne den Computerclub beitreten <br>
    du kannst mich auf <strong>Iserv</strong>  unter folgender Mail zu kontaktieren:
</h3>
<ul class="contact">
<article>
<h2>
    seminokoinzer&#64;bismarckschule.org
</h2>
<p>
    bzw <strong> semino.koinzer </strong> wenn die Email Iserv intern ist
</p>
</article>
<article>
<h2>
    Ihr könnt mich auch Privat ansprechen , Ich bin im Oberstufengebäude Raun:5001
</h2>
</article>
</ul> -->
</div>